In [1]:
import os, sys
from pathlib import Path
import pandas as pd

PROJECT_ROOT = Path.cwd()
if PROJECT_ROOT.name == "notebooks":
    PROJECT_ROOT = PROJECT_ROOT.parent

os.chdir(PROJECT_ROOT)
sys.path.insert(0, str(PROJECT_ROOT))

from research.feature_engineering.data_loader import load_data
from research.feature_engineering.preprocess import add_mid_price
from research.feature_engineering.features import add_features
from research.feature_engineering.labels import add_label

df = load_data("data/raw/bank-nifty-1m-data.csv")
df = add_mid_price(df)
df = add_features(df)
df = add_label(df)
df = df.dropna()

df.head()

,instrument,date,time,open,high,low,close,timestamp,mid_price,ret1,ret5,vol10,vol30,pressure,trend10,trend30,trend_ratio,future_mid,y
30,Banknifty,09-01-2015,9:45:00,18774.15,18780.80,18761.50,18768.90,2015-01-09 09:45:00,18771.150,0.000296,-0.001854,0.000507,0.000627,-4.50,18790.9050,18810.600833,0.998953,18773.725,0.000137
31,Banknifty,09-01-2015,9:46:00,18768.90,18776.20,18765.10,18776.20,2015-01-09 09:46:00,18770.650,-0.000027,-0.002088,0.000509,0.000579,11.10,18787.9850,18809.685000,0.998846,18771.675,0.000055
32,Banknifty,09-01-2015,9:47:00,18776.20,18776.20,18764.75,18764.75,2015-01-09 09:47:00,18770.475,-0.000009,-0.001098,0.000510,0.000560,-11.45,18785.4500,18808.306667,0.998785,18779.225,0.000466
33,Banknifty,09-01-2015,9:48:00,18768.15,18771.55,18764.25,18766.00,2015-01-09 09:48:00,18767.900,-0.000137,-0.000136,0.000506,0.000434,-3.80,18782.5325,18805.715000,0.998767,18777.850,0.000530
34,Banknifty,09-01-2015,9:49:00,18766.00,18780.25,18766.00,18779.40,2015-01-09 09:49:00,18773.125,0.000278,0.000401,0.000507,0.000430,12.55,18779.6400,18803.058333,0.998755,18779.125,0.000320